canvas {
    border: 1px solid #d3d3d3;
    background-color: #60af28;
}

.game-bar {
    height: 100%;
    position: fixed;
    width: 64px;
    left: 24px;
}

.game-bar button {
    outline: none;
    opacity: 0.7;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ddd;
}
<<<<<<< HEAD
||||||| merged common ancestors
<<<<<<<<< Temporary merge branch 1


.start-button button {
    text-align:center;
    vertical-align:central;
    width:200px;
    font-size:35px;
    height: 64px;
}
||||||||| merged common ancestors
=========

=======

>>>>>>> e52f3c4fa5cf2700613f9c404fa9f8b02f711ad7

.start-button button {
    text-align:center;
    vertical-align:central;
    width:200px;
    font-size:35px;
    height: 64px;
    background-color: lightgray;
}