/*
* Motor_functions.css
* ====================
* This file should have all
* the styles used for svg animations.
*/

.cls-1 {
  fill: #f4e3c9;
}

.cls-1,
.cls-2,
.cls-3 {
  stroke: #000;
  stroke-miterlimit: 10;
}

.cls-2 {
  fill: #d1954e;
}

.cls-3 {
  fill: #ffeed9;
}

/* Author  - Aman(@adsingh14)
==============================
Eyes Movement */



#eyelid {
  fill: #d1954e;
  stroke: #d1954e;
  stroke-width: 6;
  transform-origin: left bottom;
  animation-timing-function: ease;
  animation-duration: 0.3s;
  animation-direction: alternate;
  animation-fill-mode: both;
  transform: translate(5px, -40px) rotate(0deg);
}

@keyframes eyelid {

  from,
  to {
    transform: translate(5px, -40px) rotate(0deg);
  }

  50% {
    transform: translate(-10px, -20px) rotate(1.2deg);
  }
}