@import url(https://fonts.googleapis.com/css?family=Righteous);

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dae1e7' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.horse {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 50px;
}

.sun {
  background-image: url("../images/sun-bg.gif");
}

.snow {
  background-image: url("../images/snow-bg.gif");
}

.rain {
  background-image: url("../images/rain-bg.gif");
}

.mouth {
 position: absolute;
 width: 60px;
 height: 50px;
 right: 7%;
 top: 45%;
 z-index: 2;
}

.pumpkin{
  cursor: url(../images/pumpkin.svg) 32 32, auto;
}

.pumpkin.active{
  cursor: url(../images/pumpkin_active.svg) 32 32, auto;
}

.apple {
  cursor: url(../images/apple.svg) 32 32, auto;
}
.apple.active {
  cursor: url(../images/apple_active.svg) 32 32, auto;
}

.brush {
  cursor: url(../images/brush.svg) 32 32, auto;
}

.brush.active {
  cursor: url(../images/brush_active.svg) 32 32, auto;
}

.carrot {
  cursor: url(../images/carrot.svg) 32 32, auto;
}

.carrot.active {
  cursor: url(../images/carrot_active.svg) 32 32, auto;
}

.hay {
  cursor: url(../images/hay.svg) 32 32, auto;
}

.hay.active {
  cursor: url(../images/hay_active.svg) 32 32, auto;
}

.pitchfork {
  cursor: url(../images/pitchfork.svg) 32 32, auto;
}

.pitchfork.active {
  cursor: url(../images/pitchfork_active.svg) 32 32, auto;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #22292F;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #F6993F;
  transition: width 0.6s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}

.progress-bar-striped {
  background-image: linear-gradient( 45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent
  );
  background-size: 1rem 1rem;
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}

.hacktober-logo {
  height: 4em;
}

header h1 {
  display: inline-block;
  color: #22292f;
  font-family: "Righteous", serif;
  font-size: 4em;
  text-shadow: 0.03em 0.03em 0 hsla(210, 40%, 98%, 1);
}
header h1:not(:last-child) {
  margin-right: 1rem;
}
header h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.06em;
  left: 0.06em;
  z-index: -1;
  text-shadow: none;
  background: linear-gradient( 45deg, transparent 45%, hsla(208, 16%, 16%, 1) 45%, hsla(208, 16%, 16%, 1) 55%, transparent 0 );
  background-size: 0.05em 0.05em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}

.icon-bar {
  height: 100%;
  position: fixed;
  width: 64px;
  top: 32px;
}

.icon-bar-right {
  right: 32px;
}

.icon-bar-left {
  top: 82px;
  left: 24px;
}

.icon-bar button {
  outline: none;
  opacity: 0.7;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ddd;
}

.icon-bar button:hover {
  opacity: 1;
}

.icon-bar button.active {
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.dark-mode .icon-bar button.active {
  opacity: 1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7)
}

.icon-bar .dark-mode-btn {
  opacity: 0.7;
}

.dark-mode-btn img {
  width: 48px;
  height: 48px;
  opacity: 1;
}

.dark-mode {
  background: url("../images/night-bg.jpg");
  background-size: 100% 100%;
}
.dark-mode   h1 {
  color: #ddd;
  text-shadow: 0.03em 0.03em 0 rgba(2, 2, 2, 0.774);
}

.dark-mode  header h1:after {

  background: linear-gradient( 45deg, transparent 45%, rgb(255, 255, 255) 45%, rgb(255, 255, 255) 55%, transparent 0 );
  background-size: 0.1em 0.1em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.dark-mode button {
  background: #ccc;
}

.poop {
  padding: 0;
  display: none;
  position: absolute;
  bottom: 50px;
  left: 15px;
}